<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>

<body class="hold-transition sidebar-mini">
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
    <div class="wrapper">
        <!-- 引入页面头header-fragment -->
        <div th:replace="admin/header::header-nav"></div>
        <!-- 引入工具栏sidebar-fragment -->
        <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                </div><!-- /.container-fluid -->
            </div>
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">资讯管理</h3>
                        </div> <!-- /.card-body -->
                        <div class="card-body">
                            <!-- JqGrid必要DOM,用于创建表格展示列表数据 -->
                            <!-- <table id="jqGrid" class="table table-bordered"></table> -->
                            <div class="jqGrid_wrapper" class="table table-bordered">
                                <table id="table_list_1"></table>
                                <div id="pager_list_1"></div>
                            </div>
                            <!-- JqGrid必要DOM,分页信息区域 -->
                            <!-- <div id="jqGridPager"></div> -->
                        </div><!-- /.card-body -->
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- 引入页脚footer-fragment -->
        <div th:replace="admin/footer::footer-fragment"></div>
    </div>
    <!-- jQuery -->
    <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
    <!-- jqgrid -->
    <script th:src="@{/admin/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
    <!-- sweetalert -->
    <script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/admin/dist/js/public.js}"></script>
    <script th:src="@{/admin/dist/js/writerlist.js}"></script>
    <script>
        $(document).ready(function () {

            $.jgrid.defaults.styleUI = 'Bootstrap';
            // Examle data for jqGrid
            var mydata = [
                {
                    id: "1",
                    nickname: "小小小明",
                    name: "14164801145",
                    password: "zxc.1112",
                    sex: "男",
                    age: "21",
                    enable: "1"
                },
                {
                    id: "2",
                    nickname: "小小小红",
                    acount: "14164801143",
                    password: "zzz.2312",
                    sex: "女",
                    age: "21",
                    enable: "1"
                },
                {
                    id: "3",
                    nickname: "小小小画",
                    acount: "14164801135",
                    password: "zsc.7712",
                    sex: "男",
                    age: "21",
                    enable: "1"
                },

            ];


            // Configuration for jqGrid Example 2
            $("#table_list_1").jqGrid({
                url: '/bookread/admin/writerstatus/list',
                editurl: "/adminEditUser",
                cellurl: "",

                // postData: { 'menuId': $('#menuId').val(), 'type': $('#type').val() },
                mtype: "POST",
                contentType: "application/json",
                datatype: "json",
                height: 450,
                autowidth: true,
                shrinkToFit: true,
                page: "1", //初始化查询页数
                rowNum: "10",
                rowList: [10, 20, 30],
                colNames: ['用户ID', '昵称', '账户', '性别', '年龄', '有效性'],
                colModel: [
                    {
                        name: 'id',
                        index: 'id',
                        editable: false,
                        width: 60,
                        sorttype: "int",
                        search: false,

                    },
                    {
                        name: 'nickname',
                        index: 'nickname',
                        editable: true,
                        width: 90,
                        sorttype: "text",
                        formatter: "text",

                    },
                    {
                        name: 'acount',
                        index: 'acount',
                        editable: true,
                        width: 100,

                    },
                    // {
                    //     name: 'password',
                    //     index: 'password',
                    //     editable: true,
                    //     width: 80,
                    //     // align: "right",
                    //     sorttype: "float",
                    //     formatter: "text",
                    //     search: false,
                    //
                    // },
                    {
                        name: 'sex',
                        index: 'sex',
                        editable: true,
                        width: 80,
                        // align: "right",
                        sorttype: "float",
                    },
                    {
                        name: 'age',
                        index: 'age',
                        editable: true,
                        width: 80,
                        // align: "right",
                        sorttype: "float",
                        search: false,

                    },
                    {
                        name: 'enable',
                        index: 'enable',
                        editable: true,
                        sorttype: "int",
                        width: 100,
                        search: false,
                        sortable: false,
                    }
                ],
                jsonReader: {
                    root: "data.data", // json中代表实际模型数据的入口
                    records: "data.countrows", // json中代表数据行总数的数据
                    page: "data.indexpage", // json中代表当前页码的数据
                    total: "data.countpage", // json中代表页码总数的数据
                    repeatitems: false
                },

                pager: "#pager_list_1",
                viewrecords: true,
                caption: "用户列表",
                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });

            // Add selection
            $("#table_list_1").setSelection(4, true);


            // Setup buttons
            $("#table_list_1").jqGrid('navGrid', '#pager_list_1', {
                edit: true,
                add: false,
                del: true,
                search: true
            }, {
                    height: 500,
                    reloadAfterSubmit: true
                },
                {}, {}, { sopt: ['in'] }

            );

            // Add responsive to jqGrid
            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();

                $('#table_list_1').setGridWidth(width);
            });
        });

    </script>
</body>

</html>