<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magician.book.dao.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.magician.book.pojo.BookCollection">
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="reader_id" jdbcType="INTEGER" property="readerId" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    collection_id, book_id, reader_id, chapter_id, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magician.book.pojo.BookCollection">
    insert into tb_collection (collection_id, book_id, reader_id, 
      chapter_id, updateTime)
    values (#{collectionId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{readerId,jdbcType=INTEGER}, 
      #{chapterId,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.magician.book.pojo.BookCollection">
    insert into tb_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        collection_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magician.book.pojo.BookCollection">
    update tb_collection
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magician.book.pojo.BookCollection">
    update tb_collection
    set book_id = #{bookId,jdbcType=INTEGER},
      reader_id = #{readerId,jdbcType=INTEGER},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
  <!--<select id="getCollectionList"  resultMap="BaseResultMap">-->
  <!--select-->
  <!--<include refid="Base_Column_List" />-->
  <!--from tb_collection-->
  <!--where reader_id = #{readerId,jdbcType=INTEGER}-->
    <!--<if test="offset != null and limit != null">-->
      <!--limit #{offset},#{limit}-->
    <!--</if>-->
<!--</select>-->

  <resultMap type="com.magician.book.pojo.BookCollectionEntity" id="resultBookCollectionMap">
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="reader_id" jdbcType="INTEGER" property="readerId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <association  property="book" javaType="com.magician.book.pojo.Book">
      <id column="book_id" jdbcType="INTEGER" property="bookId" />
      <result column="book_image" jdbcType="VARCHAR" property="bookImage" />
      <result column="book_name" jdbcType="VARCHAR" property="bookName" />
      <result column="book_info" jdbcType="VARCHAR" property="bookInfo" />
      <result column="word_number" jdbcType="INTEGER" property="wordNumber" />
      <result column="price" jdbcType="INTEGER" property="price" />
      <result column="writer_name" jdbcType="VARCHAR" property="writerName" />
      <result column="writer_id" jdbcType="INTEGER" property="writerId" />
      <result column="book_status" jdbcType="INTEGER" property="bookStatus" />
      <result column="message" jdbcType="VARCHAR" property="message" />
      <result column="clicks" jdbcType="INTEGER" property="clicks" />
      <result column="thumbs" jdbcType="INTEGER" property="thumbs" />
      <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
      <result column="book_kind" jdbcType="VARCHAR" property="bookKind" />
    </association >
    <association property="chapter" javaType="com.magician.book.pojo.Chapter">
      <id column="chapter_id" jdbcType="INTEGER" property="chapterId" />
      <result column="chapter_number" jdbcType="VARCHAR" property="chapterNumber" />
      <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
      <result column="price" jdbcType="INTEGER" property="price" />
      <result column="book_id" jdbcType="INTEGER" property="bookId" />
      <result column="book_name" jdbcType="VARCHAR" property="bookName" />
      <result column="writer_id" jdbcType="INTEGER" property="writerId" />
      <result column="chapter_status" jdbcType="INTEGER" property="chapterStatus" />
      <result column="vip_chapter" jdbcType="INTEGER" property="vipChapter" />
      <result column="message" jdbcType="VARCHAR" property="message" />
      <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime" />
      <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    </association>
  </resultMap>

  <select id="getCollectionList"  resultMap="resultBookCollectionMap">
    select * from tb_collection co
    left join tb_book b on co.book_id = b.book_id
    left join tb_chapter c on co.chapter_id = c.chapter_id
    where co.reader_id = #{readerId,jdbcType=INTEGER} and b.book_status = 1
  <if test="offset != null and limit != null">
  limit #{offset},#{limit}
  </if>
  </select>
  <select id="getCollectionByReadIdBookId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_collection
    where reader_id = #{readerId,jdbcType=INTEGER}
    and book_id = #{bookId,jdbcType=INTEGER}
  </select>

</mapper>