<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_body" >
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js}"></script><![endif]-->
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript" th:src="@{/error/js/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/error/js/preloader.js}"></script>
	<link rel="stylesheet" th:href="@{/error/css/style.css}">
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	<script type="text/javascript" th:src="@{/error/js/css_browser_selector.js}"></script>
	<script type="text/javascript" th:src="@{/error/js/plax.js}"></script>
	<script type="text/javascript" th:src="@{/error/js/jquery.spritely-0.6.1.js}"></script>
	<script type="text/javascript" th:src="@{/error/js/jquery-animate-css-rotate-scale.js}"></script>
	<script type="text/javascript" >

		var slider;
		var images = [
			"/bookread/error/images/ground.png",
			"/bookread/error/images/clouds.png",
			"/bookread/error/images/ground-bottom.png",
			"/bookread/error/images/hole.png",
			"/bookread/error/images/mountain.png",
			"/bookread/error/images/rocks.png",
			"/bookread/error/images/sky-bg.jpg",
			"/bookread/error/images/sweat.png",
			"/bookread/error/images/texty-sign.png",
			"/bookread/error/images/worker.png",
			"/bookread/error/images/working-sign.png"
		];

		var index = 0;
		var transitionSpeed = 500;
		var imageIntervals = 5000;

		var startIntervals;
		var intervalSetTime;
		var contentOpen = false;

		$(document).ready(function() {






			$(function() {

				$.preload(images, {
					init: function(loaded, total) {

					},

					loaded_all: function(loaded, total) {


						$('#indicator').fadeOut('slow', function() {

							function swing(){
								if($('html').hasClass('ie')){
									if(!$('.swing').hasClass('down')){

										$('.swing').animate({rotate:'190deg', left: 330,
											top: 430},1500,function(){
											$('.swing').toggleClass('down');
										});
									}else{

										$('.swing').animate({rotate:'40deg', left: 190,
											top: 35},1500,function(){
											$('.swing').toggleClass('down');
										});

									}}else{
									$('.swing').toggleClass('right');
								}


								$('.sweat').toggleClass('show');

								setTimeout(swing, 1500);
							}
							swing();


							$('#clouds').pan({
								fps: 30,
								speed: 1.8,
								dir: 'left',
								depth: 300
							});



							$('.init').fadeIn(function(){
								$(this).removeClass('init');


								setTimeout(function(){

									$('.mountain').plaxify({
										"xRange":20,
										"yRange":0
									}) ;



									$.plax.enable();





								},500)




							})




						});
					}
				});
			});



		})


	</script>		
</head>
<body >
<div id="indicator"></div>
<div class="wrapper">
	<div class="sky init">
	<div id="clouds" class="clouds init"> </div>
	</div>
	
	<div class="convas init">
		<div id="mountain" class="mountain"></div>
		<div class="ground"></div>
		<div class="holder">
		<div class="rocks"></div>
		<div class="work-sign"></div>
		<div class="text-sign">
			<div class="text font">
			   
					页面太调皮,自己飞了...
			   
			</div>
		</div>
		<div class="init hole">
			<div class="sweat"></div>
			<div class="worker swing "></div>
			<div class="ground-bottom">
				<div class="cleaner"></div>
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>

