<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="error/404::head_body">
</head>
<body >
<div id="indicator"></div>
<div class="wrapper">
	<div class="sky init">
	<div id="clouds" class="clouds init"> </div>
	</div>
	
	<div class="convas init">
		<div id="mountain" class="mountain"></div>
		<div class="ground"></div>
		<div class="holder">
		<div class="rocks"></div>
		<div class="work-sign"></div>
		<div class="text-sign">
			<div class="text font">
			   
					服务器繁忙，请稍后再试...
			   
			</div>
		</div>
		<div class="init hole">
			<div class="sweat"></div>
			<div class="worker swing "></div>
			<div class="ground-bottom">
				<div class="cleaner"></div>
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>

