<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8" />
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/reader/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/reader/css/mygrxx.css}" />
    <link rel="stylesheet" th:href="@{/reader/css/lycss.css}" type="text/css" />
    <style>
        .pwdinput{
            display: inline-block;
            width: 240px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #E0E0E0;
            text-indent: 10px;
        }
    </style>
</head>

<body>
    <div th:include="reader/header::header-nav(${bookKind},${reader})"></div>
    <div class="Bott">
        <div class="wrapper clearfix">
            <div class="zuo fl">
                <h3>
                    <!--<a href="#"><img src="img/tx.png" /></a>-->
                    <p class="clearfix"><span class="fl" th:text="${reader.username}"></span></p>
                    <!--<span class="fr">[退出登录]</span>-->
                </h3>
                <div>
                    <h4>账户管理</h4>
                    <ul>
                        <li><a href="/bookread/reader/myinfo">个人信息</a></li>
                        <li class="on"><a href="/bookread/reader/editpassword">修改密码</a></li>
                    </ul>
                    <h4>个人中心</h4>
                    <ul>
                        <li><a href="/bookread/reader/buyrecord">购买记录</a></li>
                        <li><a href="/bookread/reader/order">我的充值</a></li>
                        <li><a href="/bookread/reader/orderrecord">充值记录</a></li>
                    </ul>

                </div>
            </div>
            <div class="you fl">
                <h2>修改密码</h2>
                <form action="" onsubmit="return false" method="post" class="remima">
                    <p><span>原密码：</span><input class="pwdinput" type="password" id="oldpwd"/></p>
                    <p class="op" >输入原密码</p>
                    <p><span>新密码：</span><input class="pwdinput" type="password" id="newpwd"/></p>
                    <p class="op">8-16 个字符，需使用字母、数字或符号组合</p>
                    <p><span>重复新密码：</span><input class="pwdinput" type="password" id="repwd"/></p>
                    <p class="op">请再次输入密码</p>
                    <input type="submit" value="提交" onclick="saveinfo()" />
                </form>
            </div>
        </div>
    </div>



   <!--footer-->
   <div th:replace="reader/footer::footer-fragment"></div>
    <script th:src="@{/reader/js/jquery-1.9.1.min.js}" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){

    })

    function saveinfo() {

        var oldpwd = $("#oldpwd").val();
        var newpwd = $("#newpwd").val();
        var repwd = $("#repwd").val();
        var reg_password = /^\w{8,20}$/;
        //正则test()方法判断返回是否符合
        var flag = reg_password.test(newpwd);
        if(!flag){
            alert("密码格式不正确");
            return;
        }
        var data = {
            oldpwd,
            newpwd,
            repwd
        }

        console.log(data);
        $.ajax({
            url: '/bookread/reader/updatepwd',
            type: 'post',
            data: data,
            dataType: "json",
            success: function (data, status) {
                alert(data.message);
                if(data.result){
                    location.href = "/bookread/reader/editpassword";
                }

            }
        })
    }
</script>
</body>

</html>