<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="layui-layer-shade" id="layui-layer-shade3" times="3"
        style="z-index:19891016; background-color:#000; opacity:0.3; filter:alpha(opacity=30);"></div>
    <div class="layui-layer layer-anim layui-layer-iframe layer-ext-espresso" id="layui-layer3" type="iframe" times="3"
        showtime="0" contype="string" style="z-index: 19891017; width: 820px; height: 520px; top: 68.5px; left: 81px;">
        <div class="layui-layer-title" style="cursor: move;" move="ok">临时书架</div>
        <div id="" class="layui-layer-content"><iframe scrolling="auto" allowtransparency="true"
                id="layui-layer-iframe3" name="layui-layer-iframe3" onload="this.className='';" class="" frameborder="0"
                src="/history.html" style="height: 458px;"></iframe></div><span class="layui-layer-setwin"><a
                class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span>
    </div>
    
</body>

</html>